:root {
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  min-width: 1000px;
  height: 500px;
  text-align: center;
}

.background {
  background: url(img/background.png) center/cover;
  margin: auto;
  margin-top: 30px;
  width: 800px;
  height: 500px;
  border-radius: 20px;
}

/* Top Section */
.top__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.gameBtn {
  background-color: beige;
  border: 3px solid black;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.gameBtn:hover {
  transform: scale(1.05);
}
.gameBtn.invisible {
  visibility: hidden;
}

#btnSquare {
  font-size: 28px;
}

.gameTimer {
  background-color: beige;
  border: 3px solid black;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  user-select: none;
  cursor: auto;
}

.counter {
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: auto;
}

.gameCount {
  font-size: 32px;
  line-height: 50px;
}

/* Bottom Section */
.bottom__section {
  width: 100%;
  height: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom__section.deact {
  pointer-events: none;
}

.bug,
.carrot {
  font-size: 10px;
  position: absolute;
  z-index: 0;
  cursor: grab;
  user-select: none;
  transition: transform 100ms ease-in;
}

.bug:hover,
.carrot:hover {
  transform: scale(1.1);
}

.bug.invisible,
.carrot.invisible {
  display: none;
}

.pop-up {
  background-color: #80808090;
  width: 300px;
  height: 160px;
  margin: auto;
  transform: translateY(-150%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  z-index: 1;
}

.pop-up.pop-up--hide {
  display: none;
}

.pop-up__retryBtn {
  background-color: beige;
  font-size: 40px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.pop-up__retryBtn:hover {
  transform: scale(1.05);
}

.pop-up__message {
  font-size: 28px;
  color: white;
}
